@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin hover-active($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
  &:active {
    background-color: darken($color, 10%);
  }
}

html, body, #root {
  @apply h-full m-0 overflow-hidden;
}

.button-container {
  @apply h-1/2;
}

.calculator {
  @apply flex flex-col w-full p-3;
  background: linear-gradient(180deg, #84BAFF, #0B0E1C);

  .calculator-screen {
    @apply h-16 p-2 text-4xl text-right text-white md:text-5xl md:h-20;
  }

  .calculator-body {
    @apply flex flex-wrap;
    .calculator-cell {
      @apply flex;
      flex-basis: 25%;
      &:after {
        @apply float-left;
        content: '';
        padding-top: 100%;
      }
      &.helf {
        flex-basis: 50%;
        &:after {
          padding-top: 50%;
        }
      }
      .calculator-button{
        @apply flex-grow m-2;
      }
    }
  }

  .calculator-button {
    @apply text-4xl text-center rounded-full md:text-5xl;
    outline: none !important;
    &.gray {
      @apply to-black;
      @include hover-active(#AFAFAFAF);
      color: black;
    }
    &.blue {
      @apply text-white;
      @include hover-active(#3091FD);
    }
    &.black {
      @apply text-white;
      @include hover-active(#333333);
    }
  }
}

.modal {
  @apply bottom-0 w-full overflow-auto sm:absolute h-1/2 sm:h-auto sm:overflow-visible;
  @screen sm {
    width: 360px;
  }
  @screen md {
    width: 480px;
  }
}
