@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin hover-active($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
  &:active {
    background-color: darken($color, 10%);
  }
}

html, body, #root {
  @apply h-full m-0;
}

.calculator {
  @apply flex flex-col p-3;
  max-width: 360px;
  background: linear-gradient(180deg, #84BAFF, #0B0E1C);

  .calculator-screen {
    height: 100px;
  }

  .calculator-body {
    @apply flex flex-col space-y-2;
    .calculator-row {
      @apply flex items-center justify-center space-x-3;
      .calculator-button {
      }
    }
  }

  .calculator-button {
    @apply text-4xl text-center rounded-full h-18 w-18 md:w-24 md:h-24 md:text-5xl;
    outline: none !important;
    &.gray {
      @include hover-active(#AFAFAFAF);
      color: black;
    }
    &.blue {
      @include hover-active(#3091FD);
      color: white;
    }
    &.black {
      @include hover-active(#333333);
      color: white;
    }
  }
}
